@import "../../node_modules/bootstrap/";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #060F19;
}

.txt-green {
    color: #13BE13;
}

.icons .bi {
    font-size: 15px;
}

.divider {
    width: 100%;
    color: gray;
    margin: 0;
}

p {
    margin-bottom: 0;
}

.button-green {
    padding: 11px 15px;
    border: none;
    background-color: #13BE13;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}